<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
</head>
<body>
    <h1>freaky</h1>

    <form>
        <div>
            <label for ="username">username: </label>
            <input type="text" name ="username" id="username" required>
        </div>
        
        <div>
            <label for ="password">password: </label>
            <input type="password" name ="password" id="password" required>
        </div>
        <div></div>
            <label for ="re-password"> re-enter password: </label>
            <input type="password" name ="re-password" id="re-password" required>
        </div>
        <div>
            <input type ="submit" value="login">
        </div>
    </form>

    Already have an account? <a href="/">Login</a>
    </a>
</body>
</html>